{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="profile-container">
    <div class="profile-header d-flex align-items-center">
        <div class="profile-ava">
            <img class="img-fluid rounded-circle shadow" src="{{ url_for('profile_bp.userava') }}" alt="Avatar">
        </div>
        <div class="profile-actions ms-4">

            <div class="dropdown mt-3">
                <button class="btn btn-outline-dark dropdown-toggle shadow-sm" type="button" id="dropdownBrand" data-bs-toggle="dropdown" aria-expanded="false">
                    Настройки
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownBrand">
                    <li><a class="dropdown-item" href="#modalEdit">Редактировать профиль</a></li>
                    <li><a class="dropdown-item" href="#modal">Выйти из профиля</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="profile-content mt-4">
        <ul class="profile-info list-group shadow-sm">
            <li class="list-group-item"><strong>Имя:</strong> {{ current_user.getName() }}</li>
            <li class="list-group-item"><strong>Email:</strong> {{ current_user.getEmail() }}</li>
            <li class="list-group-item"><strong>Никнейм:</strong> {{ current_user.getNickname() }}</li>
            <li class="list-group-item"><strong>О себе:</strong> {{ current_user.getAbout() }}</li>
        </ul>
    </div>

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="alert alert-{{ 'danger' if cat == 'error' else cat }} alert-dismissible fade show mt-4 shadow-sm" role="alert">
            {{ msg }}
        </div>
    {% endfor %}
</div>

<!-- Модальные окна -->
<div id="modal">
    <div class="overlay"></div>
    <div class="modal">
        <h2>Вы уверены, что хотите выйти?</h2>
        <p>Сохранить текущую сессию или выйти?</p>
        <a href="{{ url_for('login_bp.logout') }}" class="btn btn-danger">Выйти</a>
        <a href="#" class="btn btn-secondary cancel">Отмена</a>
    </div>
</div>

<div id="modalEdit">
    <div class="overlay"></div>
    <div class="modal">
        <h2>Редактирование профиля</h2>
        <form action="{{ url_for('profile_bp.upload') }}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Новое фото профиля</label>
                <input class="form-control" type="file" id="formFile" onchange="previewImage(event)" name="file">
            </div>
            <img id="preview" src="#" alt="Превью" style="display:none; max-width: 20%; height: auto; margin-top: 10px;">
            <button type="submit" class="btn btn-dark">Загрузить</button>
        </form>
        <form action="{{ url_for('profile_bp.upload_info') }}" method="post" style="margin: 10px 0px;">
            <input type="text" class="form-control my-2" name="name" placeholder="Новое имя">
            <input type="text" class="form-control my-2" name="nickname" placeholder="Новый никнейм">
            <textarea class="form-control my-2" name="about" placeholder="Информация о себе"></textarea>
            <button type="submit" class="btn btn-dark">Сохранить изменения</button>
        </form>
        <a href="#" class="btn btn-secondary cancel">Отмена</a>
    </div>
</div>

<script>
    function previewImage(event) {
        const preview = document.getElementById('preview');
        preview.src = URL.createObjectURL(event.target.files[0]);
        preview.style.display = 'block';
    }
</script>

{% endblock %}
