{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="container mt-5">
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
        {{ msg }}
    </div>
    {% endfor %}

    <div class="search-container mb-4" >
        <form id="searchForm" method="post" class="d-flex">
            <input
                type="search"
                class="form-control me-2"
                placeholder="Имя/@username"
                id="searchInput"
                name="name_nickname"
                aria-label="Search"
                style="width: 500px;"
            />

        </form>
    </div>

    <div id="results">
        {% if results %}
        <h2 class="mt-4 text-white">Результаты поиска</h2>
        <ul class="list-group">
            {% for result in results %}
            <li class="list-group-item d-flex align-items-center">
                <a href="{{url_for('profile_bp.view_profile', username = result.nickname)}}"><!--Переход на профиль-->
                    <img
                    class="msg-img me-3"
                    src="{{ result.image or url_for('static', filename='images_html/image/img.jpg') }}"
                    alt="Avatar" />
                </a>

                <div>
                    <strong>{{ result.nickname }}</strong>
                    <p class="mb-0">Имя: {{ result.name }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
